@model Garage2.Models.VehicleViewModel

@{
    ViewData["Title"] = "Index";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/vehicles.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<h1>Parked Vehicles</h1>

<p>
    <a asp-action="Create" class="float-left text-dark">
        <button class="btn btn-success" autofocus="autofocus" tabindex="0">
            Park
        </button>
    </a>
    <a asp-action="Index" class="float-right">
        <i class="fa fa-refresh text-primary" style="font-size: 30px;" aria-hidden="true" tabindex="1"></i>
    </a>
</p>

<form asp-action="Filter">
    <div class="input-group mb-3" style="padding-top: 16px;">
        <input type="text" asp-for="RegNr" class="form-control" placeholder="Search registration" />
        <div class="input-group-append">
            <select asp-for="Type" asp-items="@Model.Types" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<partial name="GetVehicleViewModels" model="@Model.Vehicles"/>