body {
}

tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

thead {
    background-color: whitesmoke;
}


@media print {
    .no-print, -no-print *{
        display: none !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}